.new-book-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.book-edit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 0.5em;
}
.item-new-book{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 1em;
}

.item-new-book > label{
    width: 6em;  
    text-align: right;  
    font-weight: bold;
}

.multiple-inputs-author{
    display: flex;
    flex-direction: column;
}