.books-page{
    text-align: center;
    width: 100%;

}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
border-bottom: 0.1em rgb(192, 192, 192) solid;}

.books-index-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 0.5em;
    margin: auto;
    text-align: center;
}
.book-div{
    display: flex;
    flex-direction: column;
    gap:0.3em;
    box-shadow: 0 0 0.3em 0 grey;
}

.book-div>h3{
    text-decoration: underline solid grey 0.1em;
}

input[type=text]{
    border-radius: 0.5em;
    border: solid 0.1em;
    height: 2.2em;
    border:none;
    background-color: rgba(240, 240, 240, 0.42);
    padding: 0.4em;
}


.stock-filter > label:not(:last-child){
    margin-right: 1.5em;
}