:root {
  --clr1: rgb(223, 244, 247);
  --clr2: rgb(35, 80, 109);

  --clr1bg: rgb(224, 230, 223);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(206, 233, 206);
  --clr2bg-light: rgb(72, 57, 155);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 